@import url('https://fonts.googleapis.com/css?family=Montserrat:100,200,300,400,500,600,700|Sarabu:100,200,300,400,500,600,700n&display=swap');

h1{
    font-family:'Sarabun', sans-serif;
    font-weight: 700;
}


/*------------------------------nav bar */

.navbar-brand{
    background: url(images/Abbey-Rae.jpg);
}


/*------------------------------footer */


.social-networks { 
    text-align: center;
}

.social-networks, li {   
    display: inline;
}

.social-networks, i {
    font-size: 32px;
    margin: 1%;
    padding: 1%;
    color:#696666;
    
}

.ptext{
    color:#696666;
    text-align: center; 
    font-family: 'karla', 'sans-serif' ;
    font-size: 16px;
    padding: 1px;
}

.makerlink{
    color:black;
    text-align: center; 
    font-family: 'karla', 'sans-serif' ;
    font-size: 16px;

}
/* home page pictures ---*/




cardexpander {
  font-family: 'Muli', 'sans-serif';
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  overflow: hidden;
  margin: 0;
}

.container{
  display: flex;
  width: 90vw;
}

.panel {
  background-size: auto 100%;
  background-position: center;
  background-repeat: no-repeat; 
  height: 80vh;
  border-radius: 50px;
  color: #fff;
  cursor: pointer;
  flex: 0.5;
  margin: 10px;
  position: relative;
  transition: flex 0.7s ease-in;
  
}

.panel h3{
  font-size: 24px;
  position: absolute;
  bottom: 20px;
  left: 20px;
  margin: 0;
  opacity: 0;
}

.panel.active{
flex: 5;
}

.panel.active h3 {
opacity: 1;
transition: opacity 0.3s ease-in 0.4s;
}

@media (max-width:480px){
  .container{
    width: 100vw;
  }

  .panel:nth-of-type(4),
  .panel:nth-of-type(5){
    display: none;
  }

}



/* abbey fashion parrallex ---*/



 
body { margin:0;padding:0;font-family:Verdana;}



.parallax {
  position:relative;
  z-index:1;
  height:90vh;
  -webkit-box-shadow: inset 0px -6px 5px rgba(50, 50, 50, 0.75);
-moz-box-shadow: inset 0px -6px 5px rgba(50, 50, 50, 0.75);
box-shadow: inset 0px -6px 5px rgba(50, 50, 50, 0.75);
}

#trans1 {
  background: url('images/outfits/parkwalk.jpg') no-repeat fixed;
  height:90vh;
  background-position: center top;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

#trans2 {
  background: url('images/outfits/carcoat.jpg') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

#trans3 {
  background: url('images/outfits/flowergirl.jpg') no-repeat top center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height:550px;
}

#trans4 {
  background: url('images/outfits/greendoor.jpg') no-repeat top center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height:550px;
}

#trans5 {
  background: url('images/outfits/hallbike.jpg') no-repeat top center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height:550px;
}

.txt {
  font-family: 'Niconne', cursive;
  font-size:55px;
  color:#000;
  width:auto;
  background:#FD62A9;
  background:rgba(255, 102, 153, 0.60);
  padding:5px 10px;
}
.txt.right {
  margin: 150px 100px 0 0;
  float:right;
  text-align:right;
}
.txt.left {
  float:left;
  text-align:left;
  margin: 150px 0 0 100px;
}

.txt.sub {
  font-size:50px;
  line-height:175%;
  font-weight:lighter;
  letter-spacing:1.5px;
  background:#000;
  background:rgba(0,0,0,0.60);
  font-size:25px;
  color:#ccc;
  margin: 0 100px 0 100px;
}
.content {
  box-sizing:border-box;-moz-box-sizing:border-box;
  position:relative;
  z-index:2;
  background:#FFF;
  width:100%;

  margin:0;
  padding:10px 20px;
  -webkit-box-shadow: 0px 6px 5px rgba(50, 50, 50, 0.75);
  -moz-box-shadow: 0px 6px 5px rgba(50, 50, 50, 0.75);
  box-shadow: 0px 6px 5px rgba(50, 50, 50, 0.75);
  text-align:left;
}

.content.right {
  text-align:right;
}

.content h2 { padding:0 25px; }
.content p { padding:0 50px; }





